node_modules/
dist/
dist-tsc/
*.tgz
*.deb
*.buildinfo
*.changes
debian/.debhelper/
debian/*.debhelper
debian/bbb-plugin-remote-desktop/
debian/bbb-plugin-remote-desktop.substvars
debian/bbb-wss-proxy/
debian/bbb-wss-proxy.substvars
debian/debhelper-build-stamp
debian/files
