node_modules/
dist/
dist-tsc/
*.tgz
*.deb
*.buildinfo
*.changes
debian/.debhelper/
debian/bbb-plugin-remote-desktop/
debian/bbb-plugin-remote-desktop.substvars
debian/debhelper-build-stamp
debian/files
